body {
    background-color: rgb(45, 45, 61);
    color: #dddddf;
}

.app-container{
    border: 3px solid rgb(255,255,255);
    border-radius: 3px;
}

main h1 {
    padding-left: 20px;
}

.add-container {
    padding-left: 2em;
}

div > ul {
    list-style: none;
}

main > div > a {
    color: red;
}